
   <div id="body">
        <form class="pure-form pure-form-stacked small_centered" action='/' method="post">
            <fieldset>
                <input type="text" placeholder= "Address" name="address"><br>
                <input type="text" placeholder= "Number of items" name="items"><br>
                <input type="text" placeholder="Maximum Item Price" name="maxprice"><br>
                <button type="submit" class="button-warning pure-button" id="center-button">Submit</button>
            </fieldset>
        </form>
    </div>
