<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Random Order Generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="<%=url('/stylesheets/normalize.css')%>">
         <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
        <link rel="stylesheet" href="<%=url('/stylesheets/style.css')%>">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
                <header>
                    <h1>ROG</h1>
                    <h2>Random Order Generator</h2>
                </header>

                <div class="wrapper">
                    <form class="pure-form pure-form-stacked small_centered" action='/' method="post">
                        <fieldset>
                            <input type="text" placeholder= "Address" name="address"><br>
                            <input type="text" placeholder= "Number of items" name="items"><br>
                            <input type="text" placeholder="Maximum Item Price" name="maxprice"><br>
                            <button type="submit" class="button-warning pure-button">Submit</button>
                        </fieldset>
                    </form>
                 </div>

    </body>
</html>

