<h1>Welcome to R.O.G.</h1>

<h2>Random Order Generator</h2>

<form action='/' method="post">


Address: <input type="text" name="address"><br>

Number of Items: <input type="text" name="items"><br>

Max Item Price: <input type="text" name="maxprice"><br>

<input type="submit">

<form>