<h1>Welcome to R.O.G.</h1>

<h2>Random Order Generator</h2>

<h2>Your Random Order</h2>

<h3>Restaurant: <%= @order.restaurant_name %> </h3>

<h3><a href="<%= @order.restaurant_url %>"><%= @order.restaurant_url %></a></h3>

<h3>Items</h3>

<ul>
	<% @order.quantity.times do %>
	<li> <%= @order.random_menu_item %> </li>
		<%end%>
</ul>

<form action= "/" method= "post">

</form>
