
 <div id="body">
      <div class="random_order">
				<h3>Restaurant: <%= @order.restaurant_name %> </h3>
				<ul>
					<% @order.quantity.times do %>
					<li> <%= @order.random_menu_item %> </li>
					<%end%>
				</ul>
				<h3><a href="<%= @order.restaurant_url %>">Delivery.com Site</a></h3>
				<div class = "end-buttons">
					<a href = "/moar" class ="end-button">Retry</a>
					<a href = "/" class ="end-button" >Change Order</a>
				</div>
			</div>
  </div>